<nav>
  <div class="nav-wrapper blue" >
    <a  class="brand-logo" href="index.html">AZYV</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="config.html">Configuracion</a></li>
      <li><a href="memory">Memoria</a></li>
      <li><a href="collapsible.html">Procesador</a></li>
    </ul>
  </div>
</nav>