<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

    <div class="container" >
    <h1>Gracias por usar el cliente web SNMP</h1>
    <div class="row">
        <div class="col s4 z-depth-5" >
          <div class="center">
            <i class="large material-icons">settings</i>
            <p class="promo-caption">Monitorireo de Configuracion</p>
            <p class="light center">Visualiza la configuracion de tu servidor y configura tus datos de contacto</p>
            <a class="waves-effect waves-teal btn-flat blue-text text-darken-2" href="config.html">Monitorear Configuracion</a>
          </div>
        </div>
        <div class="col s4 z-depth-5">
          <div class="center ">
            <i class="large material-icons">storage</i>
            <p class="promo-caption">Monitoreo de memoria</p>
            <p class="light center">Configura trampas y visualiza el estado de la memoria RAM y HDD </p>
            <a class="waves-effect waves-teal btn-flat blue-text text-darken-2" href="memory.html" >Monitorear Memoria</a>
          </div>
        </div>
        <div class="col s4 z-depth-5">
          <div class="center">
            <i href="/index.html" class="large material-icons">memory</i>
            <p class="promo-caption">Monitoreo del procesador</p>
            <p class="light center">Configura trampas y visualiza el estado del procesador</p>
            <a class="waves-effect waves-teal btn-flat blue-text text-darken-2">Monitorear Procesador</a>
          </div>
        </div>
      </div>

</div>   
</body>
</html>